[Desktop Entry]
Type=Action
ToolbarLabel[en_US]=Generate md5sum
ToolbarLabel[en]=Generate md5sum
ToolbarLabel[C]=Generate md5sum
Name[en_US]=Generate md5sum
Name[en]=Generate md5sum
Name[C]=Generate md5sum
Profiles=profile-zero;
Icon=gtk-orientation-landscape

[X-Action-Profile profile-zero]
MimeTypes=*;
Exec=/home/andrew/.local/share/file-manager/actions/md5sum.sh %f
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
SelectionCount==1