[Desktop Entry]
Type=Action
ToolbarLabel=Remove Android File Path
Name=Remove Android File Path
Profiles=profile-zero;
Icon=gtk-orientation-landscape

[X-Action-Profile profile-zero]
MimeTypes=*.m3u8;
Exec=findAndReplace/findAndReplace.py -i %f -f /storage/extSdCard/Music/
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
SelectionCount==1
